main{
    width: 100%;
    .background1{
        width: 100%;
        height: 605px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 1200px;

        }
        
    }
    .background2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 754px;
        background-image: url(./Main_assets/back.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        >div{
            width: 1120px;
            height: 496px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size: 60px;
                font-weight: normal;
            }
            >div{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 483px;
                height: 305px;
                
            }
        }
    }
    .background3{
        width: 100%;
        height: 120px;
        background-color: #BFE5DB25;
        display: flex;
        align-items: center;
    }
    @media screen and (max-width:375px){
        .background1{
            display: flex;
            align-items: end;
            height: 250px;
            img{
                width: 90vw;
            }
        }
        .background2{
            width: 100vw;
            >div{
                flex-direction: column;
                width: 100vw;
                h2{
                    font-size: 25px;
                    width: 70vw;
                    text-align: center;
                }
                p{
                    font-size: 16px;
                }
                img{
                    width: 70vw;
                }
                >div{
                    width: 80vw;
                    display: flex;
                    align-items: center;
                    height: 150px;
                }
            }
        }
        .background3{
            width: 100vw;
            img{
                width: 50px;
            }
        }
    }
}